.cart {
    font-size: 2rem;
    background-color: aqua;
    text-align: center;
    padding: 2em;
}

.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}



.button {
    position: relative;
    z-index: 0;
    width: fit-content;
    padding: 25px;
    margin: 20px auto;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--line_color);
    letter-spacing: 2px;
    transition: all 0.3s ease;

    cursor: pointer;
}

.link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}