.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    &__quantity {

        font-weight: 900;
        padding: 8px;
        border-radius: 8px;
        box-shadow: inset -2px -2px 12px #00000059;
    }

    &__button {
        cursor: pointer;
        width: fit-content;
        padding: 5px;
        margin: 3px 3px;
        color: #ffffff;
        font-weight: 600;
        border: none;

        &:nth-child(1) {
            border-radius: 8px 8px;
            background-color: red;
            padding: 10px;
        }

        &.add {
            border-radius: 8px;
            background-color: #8042b2;
            padding: 10px;
            text-transform: uppercase;
        }

        &:nth-child(3) {
            border-radius: 8px 8px;
            background-color: green;
            padding: 10px;

        }
    }
}

.blue {
    background-color: aqua !important;
}