@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
  text-decoration: none;
}


@mixin flex($direction, $justify, $align, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

//*NAVBAR
.nav {
  @include flex(row, space-around, center, 0);
  background-color: lightblue;

  &__logo {
    width: 200px;
    margin-bottom: 15px;
  }

  &__ul {
    @include flex(row, center, center, 30px);
    list-style-type: none;
    font-size: 2rem;
    font-family: 'Comfortaa', sans-serif;
    text-transform: capitalize;
  }

  i {
    font-size: 2em;
    margin: 10px;
  }

  span {
    font-size: 2rem;
  }
}